/**
 * Main menu icons.
 */
.toolbar-icon-crm-core-overview::before {
  background-image: url(../icons/787878-hexabox.svg);
}
.toolbar-icon-crm-core-overview:active::before,
.toolbar-icon-crm-core-overview.is-active::before {
  background-image: url(../icons/000000-hexabox.svg);
}
